# See http://flask.pocoo.org/docs/0.10/config/#builtin-configuration-values

# List of feed URLs.
# A URL may contain a {page} placeholder. It is replaced with increasing
# numbers starting with 0.
URLS = [
    'https://xkcd.com/atom.xml',
    'https://what-if.xkcd.com/feed.atom',
    'https://staff.tumblr.com/page/{page}/rss',
]
