body {
	color: black;
	background-color: #adb8bf;
}

#stream > li {
	color: #6951a2;
	background-color: #eaeff2;
}

.loading, .meta {
	color: #b7c1c7;
	background-color: #43285B;

	background: -webkit-linear-gradient(135deg, #43285b 0%,#83509f 100%);
	background: -moz-linear-gradient(135deg, #43285b 0%,#83509f 100%);
	background: -o-linear-gradient(135deg, #43285b 0%,#83509f 100%);
	background: -ms-linear-gradient(135deg, #43285b 0%,#83509f 100%);
	background: linear-gradient(135deg, #43285b 0%,#83509f 100%);
}
