a img {
	border: none;
}

a {
	color: inherit;
	text-decoration: underline;
}

a:hover, a:focus {
	text-decoration: none;
}

blockquote {
	margin: 1em 1.5em 1em 0.5em;
	padding-left: 0.5em;
	border-left: 0.2em solid;
}

body {
	margin: 4em auto;
	width: 60%;
	max-width: 54em;
	min-width: 20em;
	font-family: sans-serif;
}

#stream > li,
.loading {
	display: block;
	margin-bottom: 4em;
	overflow: hidden;
	box-shadow: 0.1em 0.2em 0.6em 0.1em black;
}

#stream {
	list-style-type:  none;
	margin: 0;
	padding: 0;
}

.meta {
	padding: 0.4em 0.6em;
	overflow: hidden;
	font-size: smaller;
}

.body {
	padding: 0.6em;
	line-height: 1.2;
}

.body img {
	max-width: 100%;
}

.loading {
	padding: 0.6em;
	text-align: center;
	cursor: pointer;
}

.meta, .loading {
	color: white;
	background: black;
}

iframe.youtube,
img[alt^="https://www.youtube"] {
	width: 480px;
	height: 360px;
}
